<div class="row">
  <div class="col-sm-12 col-sm-offset-2">
    <h2>Encaisser</h2>
    <form [formGroup]="payerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="montant">montant</label>
        <input type="text"
               id="montant"
               class="form-control"
               formControlName="montant">
      </div>
      
      <button class="btn btn-primary"
              type="submit"
              [disabled]="payerForm.invalid">valider</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>