
      <h4 class="" style=" margin-left :20px ; margin-bottom : 40px "> Menu  </h4>








        <app-plat

                *ngFor="let produit of produits; let i = index"

                 [id]="produit.id"
                  [type]="type"
                  [prix]="produit.prix"
                 [categorie]="produit.categorie"
                 [extra]="produit.extra"
                 [taille]="produit.taille"
                 [index]="i"
                  [authStatus]="authStatus"
                 [quantite]="produit.qtstock"></app-plat>


