<div  class="row">
  <div class="col-sm-12">




<mat-expansion-panel style="margin-top: 20px">

<mat-expansion-panel-header>
  <mat-panel-title style="max-width: 320px;">
    nom d'utilisateur :  {{ username }}
     -- <div >  nom complet : {{ fullname }}</div>


    </mat-panel-title>
  <mat-panel-description style="width: 300px;margin-left:10px ">
    <div>  type d'utilisateur  : <b>{{ type }}</b> </div> &nbsp;

  </mat-panel-description>
</mat-expansion-panel-header>
  <p>numero de telephone {{telephone}} ---</p>
  <p> date de creation du compte : {{date}} </p>


</mat-expansion-panel>
</div>
</div>
