




<div class="container" [ngStyle]="{ 'background-color': '#F8F8F8	'}">
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between "  >
   
    <a class="navbar-brand " routerLink="">Restautrant</a>
    <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
     
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item" >
          <a *ngIf="type==='local'" class="nav-link" routerLink="Menu">plats</a>
        </li>
        
        <li class="nav-item" >
          <a *ngIf="type==='serveur'" class="nav-link" routerLink="add">prendre une comande</a>
        </li>
        <li class="nav-item" >
          <a *ngIf="type==='serveur'" class="nav-link" routerLink="add">gerer les comandes</a>
        </li>
        <li class="nav-item" >
          <a *ngIf="type==='serveur'" class="nav-link" routerLink="add">suivre les comandes</a>
        </li>
        <li class="nav-item" >
          <a *ngIf="type==='gerent'" class="nav-link" routerLink="gerent/ajoutproduit">ajouter un produit</a>
        </li>
        <li class="nav-item" >
          <a *ngIf="type==='gerent'" class="nav-link" routerLink="gerent/ajoutcompte">ajouter un compte</a>
        </li>
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" >
          <a class="navbar-brand" *ngIf="!authStatus" routerLink="auth">Authentification</a>
          <a class="navbar-brand " *ngIf="authStatus" (click)="onSignOut()" >Se déconnecter</a>
        </li>
        
      </ul>
     
    </div>
  </nav>
  
 
    
      
      <router-outlet >
      </router-outlet>

   


</div>