<div  class="row">
  <div class="col-sm-12">




<mat-expansion-panel style="margin-top: 20px"
[ngClass]="{' list-group-item-success': valide==='prete',
'list-group-item-danger': valide==='annuler'}"
>

<mat-expansion-panel-header>
  <mat-panel-title style="max-width: 320px;">
    commande numero :  {{ id }}
     -- <div *ngIf="numtable!=0">  numero de table : {{ numtable }}</div>
     <div *ngIf="numtable==0"> commande en ligne </div> --
     <div *ngIf="type==='caissier'">
       à payer  {{prix}}
     </div>

    </mat-panel-title>
  <mat-panel-description style="width: 300px;margin-left:10px ">
    <div>  commande passé par  : <b>{{ serveur }}</b> </div> &nbsp;
      <div>etat de la commande : <b style="text-decoration-color: blueviolet">{{valide}}</b></div>
      <div *ngIf="type==='cuisinier'">
      <button style="margin-left: 50px" mat-raised-button color="primary" *ngIf="valide==='nonvalide'" (click)="valider()">valider</button>
      <button style="margin-left: 50px" mat-raised-button color="accent" *ngIf="valide==='valide'" (click)="prete()">prete</button>
 <!--
      <button style="margin-left: 30px" mat-raised-button color="warn" *ngIf="valide==='nonvalide'" (click)="annuler()">annuler</button>
  -->  </div>
    <div *ngIf="type==='caissier'">
        <button style="margin-left: 50px" mat-raised-button color="primary"  (click)="payer()">payer</button>
    </div>
    <!--
      <div *ngIf="type==='serveur'">
        <button style="margin-left: 100px" mat-raised-button color="primary"  (click)="payer()">payer</button>
    </div>
    -->
    <button style="margin-left: 30px" mat-raised-button color="warn" *ngIf="valide==='nonvalide'" (click)="annuler()">annuler</button>

    <div *ngIf="type==='serveur' && valide==='annuler'">

      <button style="margin-left: 50px" mat-raised-button color="warn"  (click)="retirer()">commander à nouveau</button>
  </div>
  <div *ngIf="type==='client' && valide==='annuler'">

      <button style="margin-left: 50px" mat-raised-button color="warn"  (click)="retirer()">retirer la commande</button>
  </div>
  </mat-panel-description>
</mat-expansion-panel-header>
  <p>commandé depuis {{date}}</p>
  <div *ngIf="numtable==0"> adresse : {{adresse}} </div>
  <ul>
    <li *ngFor="let scom of souscom; let i = index">
      à servire {{scom.produit[0].categorie}} : {{scom.produit[0].extra}} &nbsp; quantité {{scom.qte}} -- prix unitaire {{scom.produit[0].prix}}
    </li>

  </ul>

</mat-expansion-panel>
</div>
</div>
