



<mat-card style="width: 90%;margin: 10px;"

>

<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header >
      <mat-panel-title style="width: 400px">
        <h4>
             {{ extra }} &ensp; {{taille}}

        </h4>
        </mat-panel-title>
      <mat-panel-description>
       prix : {{prix}} da
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="type==='gerent'">
        <h6> quantite : {{ quantite + addedqte }} </h6>
       <label>entrez la quantité à ajouter</label>
        <input type="number" class="form-control" [(ngModel)]="addedqte" placeholder="entrez la quantité à ajouter">
      <button   style="margin : 10px " mat-raised-button color="primary"  (click)="approvisionner()">aprovisionner</button>
      <button   style="margin-right : 10px " mat-raised-button color="primary"  (click)="supprimer()">supprimer</button>

    </div>
    <div *ngIf="type==='serveur'">
        <h6> quantite : {{ quantite + addedqte }} </h6>
        <label>entrez la quantité à commander</label>

        <input type="number" class="form-control" placeholder="entrez la quantité à servir" [disabled]="!possible1()" [(ngModel)]="qtcomande">


        <button style="margin : 10px " mat-raised-button color="primary"  [disabled]="!possible()" (click)="comande()">Comander</button>
        <button style="margin : 10px "mat-raised-button color="primary"  [disabled]="!possible2()" (click)="modifier()">modifier</button>

    </div>
    <div *ngIf="type==='client'">
        <input type="number" class="form-control" [disabled]="!possible1()" [(ngModel)]="qtcomande">


        <button style="margin : 10px " mat-raised-button color="primary"  [disabled]="!possible()" (click)="comande()">Comander</button>
        <button style="margin : 10px " mat-raised-button color="primary"  [disabled]="!possible2()" (click)="modifier()">modifier</button>

    </div>
  </mat-expansion-panel>





  {{msg}}
</mat-card>

