<li class="list-group-item" style="margin : 10px "


 
>
<!--[ngClass]="{' list-group-item-success': Quantite() ,
'list-group-item-danger': !Quantite()}"
[ngStyle]="{'background' : 'url(../assets/backing.jpg)'}"-->

  

  <h4 >Plat :  {{ name }}-- quantite : {{ quantite + addedqte }}</h4>
  
  <button style="margin : 10px " class="btn btn-dark" [disabled]="!possible()" (click)="comande()">Comander</button>
  <div *ngIf="type==='gerent'">
      <input type="number" class="form-control" [(ngModel)]="addedqte">
    <button  class="btn btn-dark" (click)="approvisionner()">aprovisionner</button>
    <button  class="btn btn-dark" (click)="supprimer()">supprimer</button>

  </div>
 
  {{msg}}
</li>
